Pandas Day 3

Continuation of our Pandas series Tutorial. We will be looking at 

a) Specifying Set Arithmetic for Joins

b) Overlapping Column Names

### Specifying Set Arithmetic for Joins

In [1]:
# the type of set arithmetic used in the join is essential
# this is mostly the case where a value happens to occur
# in one key column but not the other.

import pandas as pd
import numpy as np

df1 = pd.DataFrame({'name': ['Peter', 'Paul', 'Larry'],
                   'food': ['Rice', 'Beans', 'Indomie']},
                  columns=['name', 'food'])
df2 = pd.DataFrame({'name': ['Paul', 'Andrew'],
                   'drink': ['Star', 'Hero']}, 
                  columns=['name', 'drink'])

print(df1),
print('-' *20),
print(df2),
print('-' *20),
print(pd.merge(df1, df2))

    name     food
0  Peter     Rice
1   Paul    Beans
2  Larry  Indomie
--------------------
     name drink
0    Paul  Star
1  Andrew  Hero
--------------------
   name   food drink
0  Paul  Beans  Star

We could  notably see that the reflection shown in the merging is that of displaying a result which is common to both tables in this case, which is the Paul data row.

This is simply known as inner join, which is the default used doing the merge method session. Now, the both datasets finds common data before displaying the result.

We can explicitly specify the type of merge method to use.

In [2]:
# example of inner join which works with intersection of common data
pd.merge(df1, df2, how='inner' )

   name   food drink
0  Paul  Beans  Star

In [6]:
# example of outer join in the merge method which returns a join over
# the union of the input columns and fills the missing values with NA

pd.merge(df1, df2, how='outer')

     name     food drink
0   Peter     Rice   NaN
1    Paul    Beans  Star
2   Larry  Indomie   NaN
3  Andrew      NaN  Hero

In [8]:
# this is similar to the left and right join, which returns 
# result based on either left or right enteries

pd.merge(df1, df2, how='left') # in this case,it holds the value of the first dataframe

    name     food drink
0  Peter     Rice   NaN
1   Paul    Beans  Star
2  Larry  Indomie   NaN

In [9]:
# example of right join

pd.merge(df1, df2, how='right') # holds the values of the right dataframe

     name   food drink
0    Paul  Beans  Star
1  Andrew    NaN  Hero

### Overlapping Column names

In [10]:
# This might happen when your two input dataframes have conflicting column names

df3 = pd.DataFrame({'name': ['Emeka', 'Feco', 'Chimex', 'Chiomy'],
                   'position': [1, 2, 5, 3]})


df4 = pd.DataFrame({'name': ['Emeka', 'Feco', 'Chimex', 'Chiomy'],
                   'position': [3, 1, 2, 5]})

print(df3),
print('-' * 20),
print(df4),
print('-' * 20),
print(pd.merge(df3, df4, on='name'))

     name  position
0   Emeka         1
1    Feco         2
2  Chimex         5
3  Chiomy         3
--------------------
     name  position
0   Emeka         3
1    Feco         1
2  Chimex         2
3  Chiomy         5
--------------------
     name  position_x  position_y
0   Emeka           1           3
1    Feco           2           1
2  Chimex           5           2
3  Chiomy           3           5

Since the both column name are unique, pandas automatically creates a suffix name, attaching _x and _y to both position column. we can specify this if we find the siffix inappropriate

In [11]:
# changing keyword suffix

print(df3),
print('-' * 20),
print(df4),
print('-' * 20),
print(pd.merge(df3, df4, on='name', suffixes=['_L', '_R']))

     name  position
0   Emeka         1
1    Feco         2
2  Chimex         5
3  Chiomy         3
--------------------
     name  position
0   Emeka         3
1    Feco         1
2  Chimex         2
3  Chiomy         5
--------------------
     name  position_L  position_R
0   Emeka           1           3
1    Feco           2           1
2  Chimex           5           2
3  Chiomy           3           5

Merge and join operations comes in handy when we ar working with data from different sources.

in this example, we will use data files on US states and their population, which can be accessed through  http://github.com/jakevdp/dataUSstates/:

In [1]:
!curl -O https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-population.csv
!curl -O https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-areas.csv
!curl -O https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-abbrevs.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
  0 57935    0     0    0     0      0      0 --:--:--  0:00:02 --:--:--     0
 92 57935   92 53469    0     0  17823      0  0:00:03  0:00:03 --:--:-- 15207
100 57935  100 57935    0     0  19311      0  0:00:03  0:00:03 --:--:-- 16477
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100   835  100   835    0     0    835      0  0:00:01  0:00:01 --:--:--   490
100   835  100   835    0     0    835      0  0:00:01  0:00:01 --:--:--   490
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
100   872  100   872    0     0    872      0  0:00:01  0:00:01 --:--:--   480
100   872  100   872    0     0    872      0  0:00:01  0:00:01 --:--:--   480

In [4]:
import pandas as pd
import numpy as np


pop = pd.read_csv('state-population.csv')
areas = pd.read_csv('state-areas.csv')
abbrevs = pd.read_csv('state-abbrevs.csv')

In [5]:
print(pop.head()), print(areas.head()), print(abbrevs.head())

  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0
        state  area (sq. mi)
0     Alabama          52423
1      Alaska         656425
2     Arizona         114006
3    Arkansas          53182
4  California         163707
        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

(None, None, None)

In [7]:
# to perform our first many-one merging, we will use outer join

merged = pd.merge(pop, abbrevs, how='outer', left_on='state/region', right_on='abbreviation')

merged = merged.drop('abbreviation', 1) # drop duplicate info
merged.head()

  state/region     ages  year  population    state
0           AL  under18  2012   1117489.0  Alabama
1           AL    total  2012   4817528.0  Alabama
2           AL  under18  2010   1130966.0  Alabama
3           AL    total  2010   4785570.0  Alabama
4           AL  under18  2011   1125763.0  Alabama

In [9]:
# checking out for null rows
merged.isnull().any() 

# some population info is null as well as some state info

state/region    False
ages            False
year            False
population       True
state            True
dtype: bool

In [27]:
# figuring out the null population info

merged[merged['population'].isnull()].head()

# from the result, which can be seen, it was noticed that Puerto Rico had
# no data on population prior to the year 2000
# we could also see that the abbrev column of state is also null

     state/region     ages  year  population state
2448           PR  under18  1990         NaN   NaN
2449           PR    total  1990         NaN   NaN
2450           PR    total  1991         NaN   NaN
2451           PR  under18  1991         NaN   NaN
2452           PR    total  1993         NaN   NaN

In [38]:
# new state enteries with null values
merged.loc[merged['state'].isnull(), 'state/region'].unique()

array(['PR', 'USA'], dtype=object)

In [39]:
# filling in the appropriate enteries in the state column

merged.loc[merged['state/region'] == 'PR', 'state'] = 'Puerto Rico'
merged.loc[merged['state/region'] == 'USA', 'state'] = 'United States'
merged.isnull().any()

state/region    False
ages            False
year            False
population       True
state           False
dtype: bool

In [40]:
# merging the result to the area data

final = pd.merge(merged, areas, on='state', how='left') # matching the merged column with corresponding data in areas
final.head()

  state/region     ages  year  population    state  area (sq. mi)
0           AL  under18  2012   1117489.0  Alabama        52423.0
1           AL    total  2012   4817528.0  Alabama        52423.0
2           AL  under18  2010   1130966.0  Alabama        52423.0
3           AL    total  2010   4785570.0  Alabama        52423.0
4           AL  under18  2011   1125763.0  Alabama        52423.0

In [41]:
# finding for null values

final.isnull().any()

# we could see that we have null values for area column

state/region     False
ages             False
year             False
population        True
state            False
area (sq. mi)     True
dtype: bool

In [46]:
# checking for regions of null values in the area columns

final.loc[final['area (sq. mi)'].isnull()].head()

     state/region     ages  year   population          state  area (sq. mi)
2496          USA  under18  1990   64218512.0  United States            NaN
2497          USA    total  1990  249622814.0  United States            NaN
2498          USA    total  1991  252980942.0  United States            NaN
2499          USA  under18  1991   65313018.0  United States            NaN
2500          USA  under18  1992   66509177.0  United States            NaN

In [49]:
# we could see that only United States has a missing data for area
final.loc[final['area (sq. mi)'].isnull(), 'state'].unique()

array(['United States'], dtype=object)

In [48]:
# another way of doing it
final['state'][final['area (sq. mi)'].isnull()].unique()

array(['United States'], dtype=object)

In [54]:
# the area dataframe is not inlcuded in the United States 

final.dropna(inplace=True)
final.head()

  state/region     ages  year  population    state  area (sq. mi)
0           AL  under18  2012   1117489.0  Alabama        52423.0
1           AL    total  2012   4817528.0  Alabama        52423.0
2           AL  under18  2010   1130966.0  Alabama        52423.0
3           AL    total  2010   4785570.0  Alabama        52423.0
4           AL  under18  2011   1125763.0  Alabama        52423.0

In [56]:
final.isnull().any()

state/region     False
ages             False
year             False
population       False
state            False
area (sq. mi)    False
dtype: bool

In [57]:
# let us answer some questions, which include data corresponding to the
# year 2010 and the total population
# we will use query() function for it

data2010 = final.query("year == 2010 & ages == 'total'")
data2010.head()

    state/region   ages  year  population       state  area (sq. mi)
3             AL  total  2010   4785570.0     Alabama        52423.0
91            AK  total  2010    713868.0      Alaska       656425.0
101           AZ  total  2010   6408790.0     Arizona       114006.0
189           AR  total  2010   2922280.0    Arkansas        53182.0
197           CA  total  2010  37333601.0  California       163707.0

In [65]:
# computing the population density

density = data2010['population']/ data2010['area (sq. mi)']

density.sort_values(ascending=False, inplace=True)
density.head()

state
District of Columbia    8898.897059
Puerto Rico             1058.665149
New Jersey              1009.253268
Rhode Island             681.339159
Connecticut              645.600649
dtype: float64

The district of columbia i.e Washington DC is the densest region, where as among states, New jersey is the densest.

In [66]:
# let us check for the least

density.tail()

state
South Dakota    10.583512
North Dakota     9.537565
Montana          6.736171
Wyoming          5.768079
Alaska           1.087509
dtype: float64

### Agregating and Grouping

This is an effective part of large data analysis. The effecient way of summarization, like computing aggregation of sum(), median(), max(), min().

we will explore aggregations in Pandas, from simple to complex group by concept.

In [68]:
# we will use planets dataset on seaborn, which is about data of other planetary bodies

import seaborn as sns

planets = sns.load_dataset('planets')
planets.shape

URLError: <urlopen error [Errno 11001] getaddrinfo failed>